Flask-SQLAlchemy>=2.5.0
python-dotenv>=0.21.0
flask_login==0.6.2
flask_wtf==1.1.1
gunicorn==20.1.0
Flask==2.2.2
Flask-Login==0.6.2
Flask-MySQLdb==1.0.1
Flask-Cors==3.1.1
Flask-Swagger-UI==3.25.0
pymysql==1.0.2
pytest==7.0.1  # Only keep one entry for pytest
flask-testing
