<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/404.css') }}">
</head>
<body>

    <div class="error-container">
        <h1>404</h1>
        <h2>Oops! The page you are looking for does not exist.</h2>
        <p>It seems you've encountered an error. You can go back to the <a href="{{ url_for('home') }}">Home</a> page.</p>

    </div>

</body>
</html>
