<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeabout.css') }}">
    <title> About | Honey Motors</title>
</head>
<body>
    <div class="container">
        <h1>Welcome to Honey Motors</h1>
        <p>
            Discover your dream car with Honey Motors! Explore our extensive collection of vehicles with advanced search filters
            and user-friendly interfaces. Start your journey with us today.
        </p>
    </div>

    <script src="{{ url_for('static', filename='js/homeabout.js') }}"></script>
</body>
</html>
