<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homeabout.css') }}">
    <title>Our Services | Honey Motors</title>
</head>
<body>
    <div class="container">
        <h1>Our Services</h1>
        <p>At Honey Motors, we offer a range of services to enhance your car-buying experience:</p>
        <ul>
         <p>   <li><strong>Filter Search:</strong> Find the perfect car with our powerful filtering options.</li></p>
        <p>   <li><strong>Customer Support:</strong> Get assistance anytime from our dedicated support team.</li></p>
          <p>  <li><strong>Vehicle Financing:</strong> Flexible financing options tailored to your needs.</li> </p>
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/homeabout.js') }}"></script>
</body>
</html>
